/*Fix per il footer*/

body {
    padding-bottom: 70px;
}

#nav-footer .navbar-toggle {
    display: none !important;
}

#nav-footer .footer-brand .navbar-text {
    visibility: visible !important;
}

.pricebox {
    color: red;
    font-weight: bold;
}

.product-link {
    color: black;
    font-size: large;
}

.centered-form {
    margin: auto;
    align-self: center;
    text-align: center;
}

.prod-img {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prod-img-lg {
    max-width: 300px;
    max-height: 300px;
}

.prod-img-sm {
    max-width: 100px;
    max-height: 100px;
}

.prod-img-xs {
    max-width: 75px;
    max-height: 75px;
}

.zoom-btn {
    visibility: collapse;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Orders */

.order-tab {
    min-height: 200px !important;
}

.order-text {
    padding-top: 75px;
    color: lightgray;
    font-weight: bold;
    font-size: large;
}

/* Hotseat */

.prod-img-hotseat {
    max-height: 150px !important;
    max-width: 150px !important;
}

.imgbox-main {
    height: 150px !important;
}

.descbox-main {
    color: black;
    font-weight: bold;
}

.img-main {
    height: 256px;
    width: 256px;
}

/*Product image*/

#img-modal .modal-header {
    display: none !important;
}

.modal-img {
    width: 100%;
}

.prod-img-container {
    position: relative;
}

.prod-img-container:hover .zoom-btn {
    visibility: visible;
}

/*sidebar*/

.sidebar-header {
    font-size: larger;
}