/*Fix per il footer*/

body {
    padding-bottom: 70px;
}

#nav-footer .navbar-toggle {
    display: none !important;
}

#nav-footer .footer-brand .navbar-text {
    visibility: visible !important;
}

.pricebox {
    color: red;
    font-weight: bold;
}

.product-link {
    color: black;
    font-size: large;
}

.sidebar-main .page-header {
    margin-top: 0;
}

.centred-form {
    margin: 0 auto;
}

.prod-img {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prod-img-lg {
    max-width: 300px;
    max-height: 300px;
}

.prod-img-sm {
    max-width: 100px;
    max-height: 100px;
}

.prod-img-xs {
    max-width: 75px;
    max-height: 75px;
}

.zoom-btn {
    visibility: collapse;
    position: absolute;
    right: 0;
    bottom: 0;
}

#img-modal .modal-header {
    display: none !important;
}

.modal-img {
    width: 100%;
}

.prod-img-container {
    position: relative;
}

.prod-img-container:hover .zoom-btn {
    visibility: visible;
}